<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Product</h2>
<form action="/admin/edit-product/<%= product.id %>" method="POST">
    <input name="name" value="<%= product.name %>" required>
    <input name="price" type="number" value="<%= product.price %>" required>
    <input name="image" value="<%= product.image %>">
    <textarea name="description"><%= product.description %></textarea>
    <button type="submit">Update Product</button>
</form>
<a href="/admin">Back to Dashboard</a>

</body>
</html>