<%- include("partials/header.ejs") %>

<div class="container">
  <h2>Products</h2>

   <div class="product-grid">
    <% products.forEach(p => { %>
    <div class="product-card">
        <img src="<%= p.image %>" alt="<%= p.name %>" width="200">


        <h3><%= p.name %></h3>
        <p>$<%= p.price %></p>
        <form action="/add-to-cart" method="POST">
            <input type="hidden" name="productId" value="<%= p.id %>">
            
            <button type="submit" class="red-btn">Add To Cart</button>
        </form>
    </div>
    <% }) %>
</div>>

<%- include("partials/footer.ejs") %>
